<table style="width:50%; text-align:center">
        <tr>
            <th>User</th>
            <th>Weekly Goal</th>
            <th>Daily Goal</th>
            <th>Verify Goal</th>
            <th>Done Goal</th>
        </tr>
        <tr>
        {% for user in users %}
            <td>{{user.first_name}}</td>
        {% endfor %}
        {% for goal in WeeklyGoal %}
             <td>{{goal.goal_name}}</td>
        {% endfor %}
        {% for goal in DailyGoal %}
            <td>{{goal.goal_name}}</td>
        {% endfor %}
        {% for goal in DoneGoal %}            
            <td>{{goal.goal_name}}</td>
        {% endfor %}
        </tr>
</table>     
