<table style="width:50%; text-align:center">
        <tr>
            <th>User</th>
            <th>Weekly Goal</th>
            <th>Daily Goal</th>
            <th>Verify Goal</th>
            <th>Done Goal</th>
        </tr>
        <tr>
        {% for user in users %}
            <td>{{ user.first_name }}</td>
        {% endfor %}
        {% for goal in WeeklyGoal %}
            <td>{{goal}}</td>
        {% endfor %}
         {% for goal in DailyGoal %}
            <td>{{goal}}</td>
        {% endfor %}
            
        {% for goal in DoneGoal %}
            <td>{{goal}}</td>
        {% endfor %}
            
        </tr>
</table>     

<table>
  <tr>
    <th>Data 1</th>
    <th>Data 2</th>
  </tr>
  <tr>
    <td>Calcutta</td>
    <td>Orange</td>
  </tr>
  <tr>
    <td>Robots</td>
    <td>Jazz</td>
  </tr>
</table>
