<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>   
        <table style="width:50%; text-align:center">
        <tr>
            <th>User</th>
            <td>{{user.first_name}}</td>
        </tr>
        <tr>
            <th>Weekly Goal</th>
            <td>{{goal_name}}, {{goal_id}}</td>
        </tr>
          <tr>
            <th>Daily Goal</th> 
        </tr>
         <tr>
            <th>Verify Goal</th> 
        </tr>
         <tr>
            <th>Done Goal</th> 
        </tr>
        </table>     
    </body>
</html>